<h1 class="post-title">
    {{ .Title }}

    {{ if .Draft }}
    (Draft)
    {{ end }}
</h1>

<div class="post-line"></div>

<style>
 .tag-list {
     text-align: center;
 }

 .tag-list li {
     display: inline;
 }

 .tag {
     margin: 0 2px;
     padding: 4px 10px;
     color: #fff;
     background: #000;
     font-size: 80%;
     font-family: serif;
     text-decoration: none;
     text-transform: uppercase;
 }

 .tag a {
      color: white;
 }
</style>

<ul class="tag-list">
    {{ range (.GetTerms "tags") }}
        <li class="tag"><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
   {{ end }}
</ul>
