<a href="{{ .Permalink }}" class="catalogue-item">
    <div>
        {{ if .PublishDate }}
        <time datetime="{{ .PublishDate }}" class="catalogue-time">{{ i18n "publishdate" . }}</time>
        {{ end }}
        <h1 class="catalogue-title">{{ .Title }}</h1>
        <div class="catalogue-line"></div>

        <p>
            {{ if isset .Params "summary" }}{{ .Params.Summary | markdownify }}{{ else }}{{ .Summary }}{{ end }}
        </p>
    </div>
</a>
