{{ define "main" }}

<main>
	  {{ partial "index/introduction.html" . }}

	  <div class="catalogue">
		    {{ range (.Paginate (where .Site.RegularPages "Section" "posts")).Pages }}
			  {{ .Render "summary" }}
		    {{ end }}
	  </div>

	  <div class="pagination">
		    {{ if .Paginator.HasPrev }}
			  <a href="{{ .Paginator.Prev.URL }}" class="left arrow">&#8592;</a>
		    {{ end }}
		    {{ if .Paginator.HasNext }}
			  <a href="{{ .Paginator.Next.URL }}" class="right arrow">&#8594;</a>
		    {{ end }}

		    <span>{{ .Paginator.PageNumber }}</span>
	  </div>
</main>

{{ end }}
