@font-face {
    font-family: 'Go';
    font-style: normal;
    font-weight: 400;
    src:
        local('Go'),
        local('Go-Regular'),
        url('../fonts/Go-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Go';
    font-style: normal;
    font-weight: 700;
    src:
        local('Go Bold'),
        local('Go-Bold'),
        url('../fonts/Go-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Go';
    font-style: italic;
    font-weight: 400;
    src:
        local('Go Italic'),
        local('Go-Italic'),
        url('../fonts/Go-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Go Mono';
    font-style: monospace;
    font-weight: 400;
    src:
        local('Go Mono'),
        local('Go-Mono'),
        url('../fonts/Go-Mono.ttf') format('truetype');
}

